$background-color: RGB(18,18,18);
$menu-color: RGB(24,24,24);
$menu-highlight-color: RGB(44,44,44);
$top-gradient-color: RGB(64,64,64);
$bottom-gradient-color: RGB(40,40,40);
$primary-text-color: RGB(255,255,255);
$secondary-text-color: RGB(179,179,179);
$overlay-text-background-color: RGBA(30, 30, 30, 0.65);
$overlay-text-background-color-hover: RGBA(30, 30, 30, 0.95);
$veil-color: RGBA(0, 0, 0, 0.7);
$box-shadow-color: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);


// background RGB(18,18,18)  - #121212
// menu bar RGB(24,24,24)  - #181818
// top gradient RGB(64,64,64)  - #404040
// bottom gradient RGB(40,40,40)  - #282828
// primary text RGB(255,255,255)  - #FFFFFF
// secondary text RGB(179,179,179)  - #B3B3B3
