@import "../core/utils/variables";

.AudioWaveform {
  &-Container {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: $top-gradient-color;
    margin: 8px 0;
  }
  &-SelectedRegion {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    top: -2px;
    height: 44px;
    background-color: $overlay-text-background-color;
    border: 2px $secondary-text-color solid;
    border-radius: 2px;
  }
  &-Canvas {
    width: 100%;
    height: 100%;
    &-Selected {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1000;
    }
  }
}
