.VideoPlayer {
  &-Container {
    position: relative;
    // height: calc((9 / 16) * 100%);
    // max-height: calc(100vh - 90px);
    line-height: 0;
    // min-height: 480px;
    width: 100%;
    background: #000;
    // &:hover + div .VideoPlayer-ControlBar-Progress {
    //   height: 4px;
    //   background: RGBA(235, 25, 25, 0.95);
    // }
    // .LandingPage-Container:fullscreen > & {
    //   height: 100vh;
    //   max-height: calc(100vh - 40px);
    // }
  }
  &-Error {
    position: absolute;
    z-index: 80;
    height: 100%;
    width: 100%;
    background: RGB(72, 75, 85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-Copy {
      font-size: 24px;
      font-family: 'Cuprum', sans-serif;
    }
  }
  &-Video {
    width: 100%;
    max-height: calc(100vh - 90px);
    border: none;
    outline: none;
    .LandingPage-Container:fullscreen & {
      max-height: calc(100vh - 40px);
    }
  }
}
