@import "../core/utils/variables";

.Button {
  &-Container {
    box-shadow: $box-shadow-color;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 4px;
    font-size: 0;
    width: fit-content;
    cursor: pointer;
  }
  &-Element {
    background: $menu-color;
    min-width: 150px;
    height: 50px;
    font-size: 24px;
    font-family: 'Cuprum', sans-serif;
    border: none;
    padding: 4px;
    cursor: inherit;
    outline: 0;
    &:hover {
      // background: lighten(#5497c7, 10%);
      background: $menu-highlight-color;
    }
  }
}
