.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  & .Loading-Child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  & .Loading-Child:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: RGB(30, 30, 30);
    border-radius: 100%;
    animation: spinner 1.2s infinite ease-in-out both;
  }
  &-Circle2 {
    transform: rotate(30deg);
  }
  &-Circle3 {
    transform: rotate(60deg);
  }
  &-Circle4 {
    transform: rotate(90deg);
  }
  &-Circle5 {
    transform: rotate(120deg);
  }
  &-Circle6 {
    transform: rotate(150deg);
  }
  &-Circle7 {
    transform: rotate(180deg);
  }
  &-Circle8 {
    transform: rotate(210deg);
  }
  &-Circle9 {
    transform: rotate(240deg);
  }
  &-Circle10 {
    transform: rotate(270deg);
  }
  &-Circle11 {
    transform: rotate(300deg);
  }
  &-Circle12 {
    transform: rotate(330deg);
  }
  & &-Circle2:before {
    animation-delay: -1.1s;
  }
  & &-Circle3:before {
    animation-delay: -1s;
  }
  & &-Circle4:before {
    animation-delay: -0.9s;
  }
  & &-Circle5:before {
    animation-delay: -0.8s;
  }
  & &-Circle6:before {
    animation-delay: -0.7s;
  }
  & &-Circle7:before {
    animation-delay: -0.6s;
  }
  & &-Circle8:before {
    animation-delay: -0.5s;
  }
  & &-Circle9:before {
    animation-delay: -0.4s;
  }
  & &-Circle10:before {
    animation-delay: -0.3s;
  }
  & &-Circle11:before {
    animation-delay: -0.2s;
  }
  & &-Circle12:before {
    animation-delay: -0.1s;
  }
}

@keyframes spinner {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
