@import "../core/utils/variables";


$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;

$toggle-white: #e8e9ed;
$toggle-gray: #434257;
$toggle-blue: #18172c;
$toggle-green: #00d084;
$toggle-pink: #ff4b77;

.ToggleInput {
  &-Container {
    & > [type="checkbox"] {
      position: absolute;
      left: -9999px;
    }

    & [type="checkbox"]:checked + label span:last-child {
      background: $toggle-green;
    }

    & [type="checkbox"]:checked + label span:last-child::before {
      transform: translateX(24px);
    }
     
    & [type="checkbox"]:checked + label span:last-child::after {
      width: 14px;
      height: 14px;
      left: 8px;
      // background-image: url(checkmark-switcher.svg);
      // background: red;
      background-size: 14px 14px;
    }
  }

  &-Input {
  }
  &-Label {
    & span:last-child {
      position: relative;
      width: 50px;
      height: 26px;
      border-radius: 15px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
      background: $toggle-gray;
      transition: all 0.3s;
      display: block;
    }

    & span:last-child::before,
    & span:last-child::after {
      content: "";
      position: absolute;
    }

    & span:last-child::before {
      left: 1px;
      top: 1px;
      width: 24px;
      height: 24px;
      background: $toggle-white;
      border-radius: 50%;
      z-index: 1;
      transition: transform 0.3s;
    }

    & span:last-child::after {
      top: 50%;
      right: 8px;
      width: 12px;
      height: 12px;
      transform: translateY(-50%);
      // background: url(uncheck-switcher.svg);
      // background: blue;
      background-size: 12px 12px;
    }
  }
}
