@import "../../core/utils/variables";

.Modal {
  width: 0;
  height: 0;
  z-index: 1000;
  background: $background-color;
  box-shadow: $box-shadow-color;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 12px;

  opacity: 0;
  pointer-events: none;
  transition: width 0.15s ease-out, height 0.15s ease-out, opacity 0.15s ease-out;
  &.isOpen {
    width: fit-content;
    height: fit-content;
    opacity: 1;
    pointer-events: all;
    transition: width 0.35s ease-out, height 0.35s ease-out, opacity 0.35s ease-out;
  }

  &-Content {
    position: relative;
  }

  &-Close {
    padding: 0 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: $primary-text-color;

    &:hover {
      background: $menu-highlight-color;
    }
  }

  &-Veil {
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    background: $veil-color;
    transition: opacity 0.15s;
    &.isOpen {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.35s;
    }
  }
}
